@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Change these colors later */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Clash Grotesk', sans-serif;
  /* font smoothing to antialiased */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
